.menu, .menu1, .menu2, .menu3, .menu4{
    display: flex;
    gap: 30px;
    justify-content: center;
    list-style: none;
    background-color: blue;
    color: f0f0f0;
    font-size: 2em;
    padding: 30px 10px;
}

.menu1{
background-color: brown;
justify-content: space-between;
}

.menu2{
background-color: darkolivegreen;
justify-content: space-around;
}

.menu3{
background-color: darkmagenta;
justify-content: space-evenly;
}

.menu4{
background-color: darkorange;
justify-content: end;
}